/* *{
    margin:0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
} */

/* .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
  
    background: red;
    display: flex;
    
    justify-content: space-between;
    justify-content: space-between;是CSS中用于设置弹性容器内项目（子元素）在主轴方向上的对齐方式的属性。 
    作用效果为：子元素之间的间隔是均匀分布的，第一个子元素靠近容器的起点，最后一个子元素靠近容器的终点 
    align-items: center;
     z-index: 99; 研究一下z-index的作用


} */
/* .header .logo{
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;

}
.nav a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
} */
/* .nav a::after {
    .nav a这是一个复合选择器。它选择了类名为navd的元素内部的所有<a>标签。
    ：：after 这是CSS中伪元素选择器。它用于在被选元素（这里是.nav a 选中的<a>标签）内容
    后面插入一些额外内容，这些内容默认为行内元素
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
    • Transition:.5s是CSS中用于设置过渡效果的属性。它表示当元素的样式发生改变时（比如颜色、大小、位置等属性变化），过渡过程会持续0.5秒。
} */
/* .nav a:hover::after {
    transform: scaleX(1);
} */
/* 1. 选择器解析

• .nav a：选择类名为.nav的元素内部的所有<a>（锚）标签。

• :hover：这是一个伪类，表示鼠标悬停状态。当鼠标指针移动到被选择的元素（这里是.nav中的a标签）上时，就会触发这个状态相关的样式。

• ::after：这是伪元素选择器，用于在被选中元素的内容之后添加内容。

2. 整体含义和效果

• .nav a:hover::after的意思是，当鼠标悬停在类为.nav中的a标签上时，对该a标签内容后面添加的内容（通过::after添加）应用特定的样式。
 */


/* 谷歌字体 */
*{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
 /* 变量 */
 :root{
    --main-color:#bc9667; 
    --second-color:#edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    /* Box--Shadow */
--box-shadow: 2px 2px 10px  4px rgb(14 55 54 / 15%);
}



section{
    padding: 50px 100px;

}
img{
    width: 100%;
}
body{
    padding-top: 80px;
    color:var(--text-color)
}

header{
position: fixed;
width: 100%;
top: 0;
right: 0;
z-index: 10000;
display: flex;
justify-content: space-between;
align-items:center ;
padding:18px 100px ;
transition: 0.5s linear;
background: var(--text-color);
}
.logo img{
    width: 60px;
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;

}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 100;
    display: flex;
    column-gap: 0.8rem;

}
.header-icon .bx{
    color:var(--bg-color);
}
.header-icon .bx:hover{
    color: var(--main-color);

}
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
   /* display: none; */
}

/* ---search-- */
.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
   
}
.search-box.active{
  top: 110%;  
  box-shadow:var(--box-shadow) ;
  transition:0.2s all linear ;
  
}
.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}
 .home{
    width: 100%;
    min-height: 100vh;
    background: url(aboutimage/image2/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(17rem, auto)) ;
    align-items: center;
    gap:1.5rem;

}
.home-text h1{
   font-size: 3.4rem;
   color: var(--main-color);
   text-transform: uppercase;
    letter-spacing: 1px;

}
.home-text p{
    font-size: 0.938rem;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;

}
.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}
.btn:hover{
    background: #8a6f4d;
}
